* {
  box-sizing: border-box;
  font-size: 62.5%;
}


.App {
  text-align: center;
}

.add-friend-form {
  border: 1px solid black;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}
.add-friend-form h1 {
  font-size: 3rem;
}
.add-friend-form input {
  padding: 1rem; 
  margin: 1rem;
  text-align: center;
  font-size: 1.5rem;
}

.add-friend-form button {
  margin: 2rem;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: tomato;
} 

.friend-box {
  font-size: 3rem;
  border: 1px solid black;
  margin: 2rem;
  background-color: tomato;
} 

.heading {
  font-size: 4rem;
}